html,
body {
  height: 100%;
}

main {
  flex-grow: 1;
}

body {
  background-color: $white;
  font-size: 14px;
  line-height: 1.4;
  font-family: $opensans;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.animation {
  outline: transparent;
  transition: box-shadow 0.2s, border-radius 0.2s, opacity 0.2s;

  &:focus {
    box-shadow: inset 0 0 0 3px $green-200;
    border-radius: 3px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.title {
  font-family: $ruda;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  text-transform: uppercase;
  color: $dark-900;
  text-align: center;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow-y: hidden; //Скрываем все, что по высоте не влазит в экран при нажатии на корзину
}

//CARD ELEMENTS//

.badge {
  font-family: $opensans;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  color: $white;
  padding: 3px 6px;
  border-radius: 6px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 66px;
  width: fit-content;
  margin-bottom: 6px;

  &--green {
    background-color: $green-900;
  }

  &--red {
    background-color: $red-900;
  }

  &--orange {
    background-color: $orange-900;
  }

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.product-status {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;

  &--green {
    color: $green-900;
  }

  &--red {
    color: $red-900;
  }

  &--grey {
    color: $silver-600;
  }
}

.stepper {
  display: flex;
  align-items: center;
  user-select: none;

  &--indent {
    margin-right: 12px;
  }

  &__input {
    width: 36px;
    font-size: 16px;
    line-height: 1;
    align-items: center;
    text-align: center;
    color: $dark-500;
    outline: transparent;
    background-color: $green-100;
  }

  &__btn {
    background-color: $green-900;
    width: 24px;
    transition: opacity 0.2s;

    &--minus {
      background-image: url(../images/elements/minus.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: inherit;
      border-radius: 3px 0 0 3px;
    }

    &--plus {
      background-image: url(../images/elements/plus.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: inherit;
      border-radius: 0 3px 3px 0;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

//BUTTONS//

.button {
  font-size: 18px;
  line-height: 1.3;
  padding: 12px 24px;
  letter-spacing: 0.03em;

  &--transp {
    transition: background-color 0.2s, box-shadow 0.2s;
    border: 1px solid $green-900;
    color: $green-900;
    display: block;
    margin: 0 auto;
    border-radius: 6px;

    &:hover {
      background-color: #eff6e7;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green;
      border-radius: 6px;
    }

    &:active {
      box-shadow: inset 0 10px 4px $card-bg;
      border-radius: 6px;
    }
  }
}

.button-green {
  font-size: 18px;
  line-height: 1.3;
  padding: 12px 24px;
  letter-spacing: 0.03em;
  background-color: $green-900;
  color: $white;
  outline: transparent;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-1000;
  }

  &:active {
    color: $dark-400;
    box-shadow: inset 0 4px 4px $dark-950;
  }

  &--center {
    display: block;
    margin: 0 auto;
  }
}

.button-form {
  background-color: $green-900;
  color: $white;
  outline: transparent;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 0 6px 6px 0;
  padding: 12px 16px;
  position: absolute;
  text-transform: uppercase;
  font-family: $opensans;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-1000;
  }

  &:active {
    color: $dark-400;
    box-shadow: inset 0 4px 4px $dark-950;
  }
}

.title-white {
  font-family: $ruda;
  font-weight: 600;
  color: $white;
  text-shadow: 2px 2px 0 $dark-950;
}

.mod-white {
  font-family: $opensans;
  font-weight: 700;
  color: $white;
  text-shadow: 1px 1px 0 $dark-950;
}

.link-white {
  font-family: $opensans;
  font-weight: 700;
  color: $white;
  text-shadow: 1px 1px 0 $dark-950;
  text-decoration: none;
}

.animation-btn--green:active {
  box-shadow: inset 0 4px 4px $dark-950;
}
