//FONTS//

$opensans: "OpenSans", sans-serif;

$ruda: "Ruda", sans-serif;

//COLORS//

$green-100: #eff6e7;
$green-200: #e0edcf;
$green-900: #63a60f;
$green-1000: #4d810c;

$dark-450: #4f4f4f;
$dark-500: #505050;
$dark-800: #31352b;
$dark-900: #121212;

$black: #000;

$white: #fff;

$silver-50: #f5f5f5;
$silver-100: #f6f6f6;
$silver-600: #c1c1c1;

$red-900: #cf3e3b;
$orange-900: #ff7a00;
