//FONTS//

%opensans-400 {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
}

%opensans-700 {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
}

%opensans-600 {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-weight: 600;
}

%opensans-300 {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
}

%ruda-600 {
  font-family: "Ruda-SemiBold", sans-serif;
  font-weight: 600;
}

%ruda-400 {
  font-family: "Ruda-Regular", sans-serif;
  font-weight: 400;
}

%ruda-700 {
  font-family: "Ruda-Bold", sans-serif;
  font-weight: 700;
}

%ruda-900 {
  font-family: "Ruda-Back", sans-serif;
  font-weight: 900;
}

%roboto-600 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 600;
}

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

//COLORS//

$accent-color: #63a60f;

$bg-color: #f5f5f5;

$ft-color: #31352b;

$white: #fff;

$black: #000;

$grey: #c1c1c1;

$bg-menu: #e0edcf;

$red: #cf3e3b;
