//FONTS//

$opensans: "OpenSans", sans-serif;

$ruda: "Ruda", sans-serif;

//COLORS//

$green-100: #eff6e7;
$green-200: #e0edcf;
$green-900: #63a60f;
$green-1000: #4d810c;
$green: rgba($green-1000, 0.5);

$dark-400: rgba($white, 0.5);
$dark-450: #4f4f4f;
$dark-500: #505050;
$dark-550: rgba($silver-600, 0.3);
$dark-600: rgba($dark-800, 0.85);
$dark-800: #31352b;
$dark-900: #121212;
$dark-950: rgba($black, 0.25);

$black-1000: rgba($black, 0.1);
$black-900: rgba($black, 0.2);
$black: #000;

$white: #fff;

$silver-50: #f5f5f5;
$silver-100: #f6f6f6;
$silver-200: rgba($white, 0.8);
$silver-600: #c1c1c1;

$red-900: #cf3e3b;
$orange-900: #ff7a00;
