@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header-top {
  padding: 15px 0;
  background-color: $ft-color;
  font-size: 13px;
  line-height: 1.4;
  @extend %opensans-700;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
  }
  &__link {
    text-transform: uppercase;
    color: $white;
  }
  &__link:not(:last-child) {
    margin-right: 48px;
  }
  &__link-wrapper {
    display: flex;
    align-items: center;
  }
  &__items-list {
    display: flex;
  }
  &__items:not(:last-child) {
    margin-right: 24px;
  }
}

.icon-car {
  width: 32px;
  height: 21px;
  fill: $white;
}

.icon-phone {
  fill: $white;
  width: 22px;
  height: 22px;
}

.icon-car,
.icon-phone {
  margin-right: 12px;
}

.header-bottom {
  background-color: $accent-color;
  padding: 25px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  width: 240px;
  position: relative;
  padding: 15px 38px 15px 61px;
  background-color: $white;
  border-radius: 6px;
  color: $accent-color;
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  border: 1px solid $grey;
  &__item {
    width: 238px;
    padding: 15px 45px 15px 24px;
    background-color: $white;
    border-left: 3px solid transparent;
    transition: border-left 0.1s;
  }
  &__item:not(:last-child) {
    border-bottom: 1px solid $grey;
  }
  &__item:last-child {
    border-radius: 0 0 6px 6px;
  }
  &__item:hover {
    color: $accent-color;
    border-left: 3px solid $accent-color;
  }
  &__link {
    color: $black;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
  }
}

.menu__item:hover {
  background-color: $bg-menu;
  border-radius: 6px 6px 0 0;
}

.menu__item:hover > .submenu {
  display: flex;
  flex-direction: column;
}

.icon-nav {
  width: 25px;
  height: 17px;
  position: absolute;
  left: 17px;
  top: 16px;
  fill: $accent-color;
}

.icon-arow-menu {
  height: 4px;
  width: 7px;
  position: absolute;
  right: 20px;
  top: 23px;
  fill: $accent-color;
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item:not(:last-child) {
    margin-right: 31px;
  }
  &__item {
    position: relative;
  }
  &__num {
    position: absolute;
    left: -7px;
    top: -7px;
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    color: $red;
    @extend %opensans-600;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }
}

.icon-user {
  width: 25px;
  height: 32px;
  fill: $white;
}

.icon-heart {
  width: 32px;
  height: 28px;
  fill: $white;
}

.icon-cart {
  width: 32px;
  height: 30px;
  fill: $white;
}

.form-search {
  position: relative;
  margin-right: 40px;
}

.icon-search {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 16px;
  fill: $ft-color;
}

.search__field {
  padding: 15px 15px 15px 51px;
  min-width: 423px;
  border-radius: 6px 0 0 6px;
  &::placeholder {
    color: $ft-color;
  }
}

.search--btn {
  background-color: $ft-color;
  color: $white;
  text-transform: uppercase;
  padding: 15px 52px;
  margin-left: -4px;
  border-radius: 0 6px 6px 0;
  @extend %opensans-600;
}

.hero-slider {
}
&__item {
  height: 600px;
}
@import "media";
