@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  z-index: 999;
}

.header-top {
  padding: 15px 0;
  background-color: $dark-800;
  font-size: 13px;
  line-height: 1.4;
  @extend %opensans-700;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
  }
  &__link {
    text-transform: uppercase;
    color: $white;
  }
  &__link:not(:last-child) {
    margin-right: 48px;
  }
  &__link-wrapper {
    display: flex;
    align-items: center;
  }
  &__items-list {
    display: flex;
  }
  &__items:not(:last-child) {
    margin-right: 24px;
  }
}

.icon-car {
  width: 32px;
  height: 21px;
  fill: $white;
}

.icon-phone {
  fill: $white;
  width: 22px;
  height: 22px;
}

.icon-car,
.icon-phone {
  margin-right: 12px;
}

.header-bottom {
  background-color: $green-900;
  padding: 25px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;
  &__btn {
    width: 240px;
    padding: 15px 38px 15px 61px;
    background-color: $white;
    border-radius: 6px;
    color: $green-900;
    margin-right: 10px;
    transition: background-color 0.3s, border-radius 0.1s;
    position: relative;
  }
  &__btn::before {
    content: "";
    background-image: url(../images/elements/nav-icon.svg);
    left: 18px;
    top: 16px;
    position: absolute;
    width: 25px;
    height: 17px;
  }
  &__btn::after {
    content: "";
    background-image: url(../images/elements/arrow-icon.svg);
    right: 19px;
    top: 23px;
    position: absolute;
    width: 7px;
    height: 4px;
    transition: transform 0.3s;
  }
  &__btn:hover {
    background-color: $green-200;
    border-radius: 6px 6px 0 0;
  }
  &__btn:hover::after {
    transform: rotate(180deg);
  }
}

.submenu {
  position: absolute;
  left: 0;
  top: 49px;
  border: 1px solid $silver-600;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  &--active {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
  }
  &__item {
    width: 238px;
    background-color: $white;
    border-left: 3px solid transparent;
    transition: border-left 0.2s;
  }
  &__item:not(:last-child) {
    border-bottom: 1px solid $silver-600;
  }
  &__item:last-child {
    border-radius: 0 0 6px 6px;
  }
  &__item:hover {
    color: $green-900;
    border-left: 3px solid $green-900;
  }
  &__link {
    color: $black;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    display: block;
    padding: 15px 45px 15px 24px;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: 12px;
  }
  &__item {
    position: relative;
  }
  &__link {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: $green-900;
    display: flex;
    align-items: center;
  }
  &__num {
    position: absolute;
    left: 3px;
    top: 2px;
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    color: $red-900;
    @extend %opensans-600;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }
}

.form-search {
  position: relative;
  margin-right: 40px;
}

.icon-search {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 16px;
  fill: $dark-800;
}

.search__field {
  padding: 15px 15px 15px 51px;
  min-width: 419px;
  border-radius: 6px 0 0 6px;
  &::placeholder {
    color: $dark-800;
  }
}

.search__btn {
  top: 0;
  right: 0;
  background-color: $dark-800;
  color: $white;
  text-transform: uppercase;
  padding: 15px 52px;
  margin-left: -4px;
  border-radius: 0 6px 6px 0;
  @extend %opensans-600;
}

.hero-slider {
  display: flex;
  position: relative;
  &__item {
    min-height: 600px;
    padding: 142px 0;
  }
  &__wrapper {
    padding: 24px;
    background-color: $hero-block;
    border-radius: 4px;
    max-width: 1290px;
    height: 315px;
    margin: 0 auto;
  }
  &__title {
    @extend %ruda-800;
    font-size: 60px;
    line-height: 1.3;
    color: $dark-500;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__subtitle {
    display: block;
    color: $red-900;
  }
  &__text {
    font-size: 16px;
    color: $dark-500;
    margin-bottom: 46px;
  }
}

.hero-slider__btn {
  @extend %green-btn;
}

.slick-arrow {
  width: 60px;
  height: 60px;
  background-color: $hero-block;
  position: absolute;
  border-radius: 6px;
  z-index: 2;
}

.prev-arrow,
.next-arrow {
  width: 19px;
  height: 32px;
  margin-top: 5px;
}

.slick-prev {
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
}

.slick-next {
  top: 50%;
  right: 50px;
  transform: translate(0, -50%);
}

.info__icon {
  width: 50px;
  height: 50px;
  fill: $green-900;
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 146px;
  background-color: $silver-100;
  padding: 48px 29px;
  &__item {
    width: 264px;
    position: relative;
    padding-left: 74px;
  }
  &__item:not(:last-child) {
    margin-right: 65px;
  }
  &__title {
    @extend %opensans-600;
    font-size: 16px;
    color: $dark-900;
    margin-bottom: 6px;
  }
  &__text {
    color: $dark-500;
  }
}

.product {
  padding: 72px 0;
  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
  &__like-inner {
    padding: 12px 12px 0 12px;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }
  &__item {
    height: 409px;
    max-width: 300px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    display: flex;
    flex-direction: column;
  }
  &__img-box {
    margin-bottom: 20px;
    position: relative;
  }
  &__img-box:hover {
    .product__link-wrapper {
      display: block;
    }
    &::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  &__img {
    object-fit: contain;
  }
  &__link-wrapper {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    display: none;
    z-index: 2;
  }
  &__link {
    padding: 14px;
    display: inherit;
  }
  &__name {
    @extend %opensans-600;
    color: $dark-900;
    text-align: left;
    padding: 0 18px;
  }
  &__basket-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 18px 18px 18px;
    margin-top: auto;
  }
  &__basket {
    width: 32px;
    height: 32px;
    background-color: $green-900;
    border-radius: 3px;
    padding: 8px;
  }
  &__price-wrapper {
    font-size: 14px;
    line-height: 1;
    text-align: left;
  }
}

.product__like-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.badge-new {
  @extend %badge-new;
  margin-bottom: 3px;
}

.badge-discount {
  @extend %badge-discount;
}

.badge-hit {
  @extend %badge-hit;
}

.product-heart {
  width: 32px;
  height: 28px;
  fill: $silver-600;
}

.product-search {
  width: 20px;
  height: 20px;
  fill: $green-900;
}

.product-basket {
  width: 16px;
  height: 15px;
  fill: $white;
}

.price-old {
  color: $silver-600;
  position: relative;
  display: block;
  margin-bottom: 3px;
}

.price-old:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  color: $silver-600;
  width: 100%;
  height: 0;
  border-bottom: 2px solid $silver-600;
  transform: rotate(-10deg);
}

.price-new {
  color: $dark-500;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  &__item:not(:last-child) {
    margin-right: 24px;
  }
  &__btn {
    @extend %opensans-700;
    color: $dark-500;
    font-size: 15px;
    line-height: 1.4;
    text-transform: uppercase;
  }
}

//FOOTER//

.footer {
  background-color: $dark-500;
  color: $white;
}

.footer-top {
  padding: 30px 0;
  &__logo {
    display: block;
    margin-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    line-height: 1;
    margin-bottom: 18px;
  }
  &__form {
    margin-right: 180px;
  }
  &__input {
    padding: 10px;
    border-radius: 6px 0 0 6px;
  }
  &__input::placeholder {
    color: $placeholder-color;
    line-height: 1;
  }
  &__btn {
    position: absolute;
    background-color: $green-900;
    border-radius: 0 6px 6px 0;
    padding: 12px 16px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.3;
  }
  &__item {
    column-count: 3;
    column-gap: 70px;
  }
  &__link {
    margin-bottom: 18px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__tel,
  &__adress {
    margin-bottom: 18px;
  }
}

.social {
  display: flex;
  &__link {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  &__item:not(:last-child) {
    margin-right: 12px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.pay {
  display: flex;
  &__visa {
    width: 93px;
    height: 29px;
    margin-right: 24px;
  }
  &__mcard {
    width: 49px;
    height: 29px;
  }
}

@import "media";
