<section class="banners">
  <div class="container">

    <ul class="banners__wrapper">
      <li class="banners__item banners__item--long" style="background-image: url('images/banners/fructs-bg.jpg');">
        <div class="banners__inner">
          <div class="banners__subtitle mod-white">
            <p>Свежайшие фрукты</p>
          </div>
          <h2 class="banners__title title-white">Начни фруктовое лето<br>всего от 99 ₽</h2>
          <a class="banners__link link-white" href="#">Перейти к покупкам</a>
        </div>
      </li>

      <li class="banners__item" style="background-image: url('images/banners/vegetables-bg.jpg');">
        <div class="banners__inner">
          <div class="banners__subtitle">
            <p>Сезонная распродажа</p>
          </div>
          <h2 class="banners__title">Овощепад<br>до -50% </h2>
          <a class="banners__link" href="#">Перейти к покупкам</a>
        </div>
      </li>

      <li class="banners__item" style="background-image: url('images/banners/bread-bg.jpg');">
        <div class="banners__inner">
          <div class="banners__subtitle">
            <p>Ням-ням</p>
          </div>
          <h2 class="banners__title">Свежий<br>хлебчик</h2>
          <a class="banners__link" href="#">Перейти к покупкам</a>
        </div>
      </li>
    </ul>
  </div>
</section>