<div class="container">
  <ul class="brands">
    <li class="brands__item">
      <img class="brands__img" src="images/brands/sprite.svg" alt="Спрайт" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/dr-pepper.svg" alt="Доктор Пеппер" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/coca-cola.svg" alt="Кока-Кола" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/pepsi.svg" alt="Пепси" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/redbull.svg" alt="Рэдбулл" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/fanta.svg" alt="Фанта" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/sprite.svg" alt="Спрайт" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/dr-pepper.svg" alt="Доктор Пеппер" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/coca-cola.svg" alt="Кока-Кола" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/pepsi.svg" alt="Пепси" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/redbull.svg" alt="Рэдбулл" width="80">
    </li>
    <li class="brands__item">
      <img class="brands__img" src="images/brands/fanta.svg" alt="Фанта" width="80">
    </li>
  </ul>
</div>