<section class="main-slider">
  <h1 class="sr-only">Фрэшок - интернет магазин продуктов</h1>

  <ul class="main-slider__list">

    <li class="main-slider__item" style="background-image: url('images/background/hero-slide-1.jpg');">
      <div class="main-slider__wrapper">
        <h2 class="main-slider__title">Свежачок вам в хату
          <span class="main-slider__subtitle">Скидка -50%</span>
        </h2>
        <div class="main-slider__text">
          <p>Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!</p>
        </div>
        <a class="btn" href="#">Купить сейчас</a>
      </div>
    </li>

    <li class="main-slider__item" style="background-image: url('images/background/hero-slide-2.jpg');">
      <div class="main-slider__wrapper">
        <h2 class="main-slider__title">Накрути себе томатов
          <span class="main-slider__subtitle">Акция: 3 кг по цене 1</span>
        </h2>
        <div class="main-slider__text">
          <p>Только с 12 по 15 июля скидка на домашние помидорчики</p>
        </div>
        <a class="btn" href="#">Купить сейчас</a>
      </div>
    </li>

    <li class="main-slider__item" style="background-image: url('images/background/hero-slide-3.jpg');">
      <div class="main-slider__wrapper">
        <h2 class="main-slider__title">Пусть остальные <br> позеленеют от зависти
          <span class="main-slider__subtitle">Распродажа зелени</span>
        </h2>
        <a class="btn" href="#">Купить сейчас</a>
      </div>
    </li>
  </ul>
</section>