<section class="news">
  <div class="container">

    <div class="news__wrapper">
      <h2 class="news__title title">Наши новости</h2>
      <a class="news__link" href="#">Все новости</a>
    </div>

    <ul class="news__list">

      <li class="news-list__item">
        <article class="card-news">
          <a class="card-news__link" href="#">
            <time class="news-badge" datetime="2022-07-15">
              <span class="news-badge__mounth">Июль</span>
              <span class="news-badge__number">15</span>
            </time>
            <img class="card-news__img" src="images/news/strawberry.jpg" alt="Клубника" width="410" height="240">
            <h3 class="card-news__title">Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК.
              Торопись, пока всё не разобрали!</h3>
          </a>
        </article>
      </li>

      <li class="news-list__item">
        <article class="card-news">
          <a class="card-news__link" href="#">
            <time class="news-badge" datetime="2022-05-07">
              <span class="news-badge__mounth">Май</span>
              <span class="news-badge__number">07</span>
            </time>
            <img class="card-news__img" src="images/news/mango.jpg" alt="Манго" width="410" height="240">
            <h3 class="card-news__title">Шикарнейший выбор манго в нашем онлайн-маркете</h3>
          </a>
        </article>
      </li>

      <li class="news-list__item">
        <article class="card-news">
          <a class="card-news__link" href="#">
            <time class="news-badge" datetime="2022-02-20">
              <span class="news-badge__mounth">Февраль</span>
              <span class="news-badge__number">20</span>
            </time>
            <img class="card-news__img" src="images/news/papaya.jpg" alt="Папайя" width="410" height="240">
            <h3 class="card-news__title">Всё, что вы хотели знать о папайя</h3>
          </a>
        </article>
      </li>

    </ul>

  </div>
</section>