<section class="stocks" data-ref="container-2">
  <div class="container">
    <h2 class="stocks__title title ">Акции</h2>

    <ul class="filter-mix">
      <li class="filter-mix__item">
        <button class="filter-mix__btn animation-filter" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__btn animation-filter" type="button" data-filter=".category-new">
          Новинки
        </button>
      </li>
      <li class="filter-mix__item">
        <button class="filter-mix__btn animation-filter" type="button" data-filter=".category-hit">
          Хиты
        </button>
      </li>
    </ul>

    <ul class="stocks__wrapper">

      <li class="stocks__item mix category-new">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--green card-small__badge">Новинка</span>
                <img class="card-small__img" src="images/product-stocks/pineapple.jpg" alt="Ананас" width="100"
                  height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Ананас, 1 кг</h3>
                <span class="product-status product-status--green">В наличии</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">999<span class="currency">&#8381</span></span>
                    <span class="price-old">1999
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">4.5</span>
                    <span class="star"></span>
                  </div>
                </div>

              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="stocks__item mix category-new">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--green card-small__badge">Новинка</span>
                <img class="card-small__img" src="images/product-stocks/coffee.jpg" alt="Кофе" width="100" height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Кофе с коноплей органический Caffé Salomoni 250г</h3>
                <span class="product-status product-status--red">Заканчивается</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">777<span class="currency">&#8381</span></span>
                    <span class="price-old">877
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">4.9</span>
                    <span class="star"></span>
                  </div>

                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="stocks__item mix category-new">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--green card-small__badge">Новинка</span>
                <img class="card-small__img" src="images/product-stocks/strawberry.jpg" alt="Клубника" width="100"
                  height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Клубника, 1 кг</h3>
                <span class="product-status product-status--grey">Нет в наличии</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">440<span class="currency">&#8381</span></span>
                    <span class="price-old">600
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">5</span>
                    <div class="star"></div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="stocks__item mix category-new">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--green card-small__badge">Новинка</span>
                <img class="card-small__img" src="images/product-stocks/mango.jpg" alt="Манго" width="100" height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Манго, 1 шт</h3>
                <span class="product-status product-status--green">В наличии</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">660<span class="currency">&#8381</span></span>
                    <span class="price-old">960
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">5</span>
                    <span class="star"></span>
                  </div>

                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="stocks__item mix category-new">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--green card-small__badge">Новинка</span>
                <img class="card-small__img" src="images/product-stocks/salmon.jpg" alt="Ананас" width="100"
                  height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Лосось, 1 кг</h3>
                <span class="product-status product-status--green">В наличии</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">999<span class="currency">&#8381</span>
                    </span>
                    <span class="price-old">1199
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">4.5</span>
                    <span class="star"></span>
                  </div>

                </div>
              </div>
            </div>

          </a>
        </article>
      </li>

      <li class="stocks__item mix category-hit">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--orange card-small__badge">Хит</span>
                <img class="card-small__img" src="images/product-stocks/granini-juice.jpg" alt="Сок Гранини" width="100"
                  height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Сок Granini овощной 100%, 0.5л</h3>
                <span class="product-status product-status--red">Заканчивается</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">180<span class="currency">&#8381</span></span>
                    <span class="price-old">230
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">4.9</span>
                    <span class="star"></span>
                  </div>

                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="stocks__item mix category-hit">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--orange card-small__badge">Хит</span>
                <img class="card-small__img" src="images/product-stocks/fructs.jpg" alt="Ананас" width="100"
                  height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Фруктовая корзина, 1 шт</h3>
                <span class="product-status product-status--green">В наличии</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">3990<span class="currency">&#8381</span></span>
                    <span class="price-old">5990
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">4.8</span>
                    <span class="star"></span>
                  </div>

                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="stocks__item mix category-hit">
        <article class="card-small" href="#">
          <a class="card-small__link" href="#">
            <div class="card-small__inner">
              <div class="card-small__img-wrapper">
                <span class="badge badge--orange card-small__badge">Хит</span>
                <img class="card-small__img" src="images/product-stocks/pig.jpg" alt="Ананас" width="100" height="100">
              </div>
              <div class="card-small__info">
                <h3 class="card-small__name">Свинина мякоть, 1 кг</h3>
                <span class="product-status product-status--green">В наличии</span>
                <div class="card-small__bottom">
                  <div class="card-small__price-wrapper">
                    <span class="card-small__price-new">499<span class="currency">&#8381</span></span>
                    <span class="price-old">599
                      <span>&#8381</span>
                    </span>
                  </div>

                  <div class="star-wrapper">
                    <span class="rating-num">4.6</span>
                    <span class="star"></span>
                  </div>

                </div>
              </div>
            </div>
          </a>
        </article>
      </li>
    </ul>
  </div>

  <button class="btn btn--center" href="#">Показать еще</button>
</section>