<ul class="support">
  <li class="support__item support__item--scooter-icon">
    <span class="support__title">Бесплатная доставка</span>
    <span class="support__text">Для заказов на сумму от 500 ₽ </span>
  </li>

  <li class="support__item support__item--return-icon">
    <span class="support__title">Возврат товара</span>
    <span class="support__text">Если товары были испорчены</span>
  </li>

  <li class="support__item support__item--time-icon">
    <span class="support__title">Поддержка 24/7</span>
    <span class="support__text">Лучшие операторы</span>
  </li>
</ul>