<section class="top-products" data-ref="container-1">
  <div class="container">
    <h2 class="top-products__title title">Топовые товары</h2>

    <ul class="filter-mix">
      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter="all">
          Все товары
        </button>
      </li>

      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-fructs">
          Фрукты
        </button>
      </li>

      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-vegetables">
          Овощи
        </button>
      </li>

      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-beverages">
          Напитки
        </button>
      </li>

      <li class="filter-mix__item">
        <button class="filter-mix__btn" type="button" data-filter=".category-grocery">
          Бакалея
        </button>
      </li>
    </ul>

    <ul class="top-products__content">

      <li class="top-products__content-item mix category-fructs">
        <article class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper">
              <span class="badge badge--green">Новинка</span>
              <span class="badge badge--red">-50%</span>
            </div>

            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/pineapple.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Ананас, 1кг</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="price-old price-old--margin">1999 <span>&#8381</span></span>
              <span class="card-big__price-new">999 <span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </article>
      </li>

      <li class="top-products__content-item mix category-fructs">
        <article class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper"></div>
            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/lemon.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Лимон, 1кг</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="card-big__price-new">199<span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </article>
      </li>

      <li class="top-products__content-item mix category-fructs">
        <artspa icle class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper">
              <span class="badge badge--orange">Хит</span>
            </div>
            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/dragon-fruit.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Питахайя красная с белой мякотью</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="card-big__price-new">1019<span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </artspa>
      </li>

      <li class="top-products__content-item mix category-grocery">
        <article class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper"></div>
            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/ketchup.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="card-big__price-new">600<span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </article>
      </li>

      <li class="top-products__content-item mix category-vegetables">
        <article class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper">
              <span class="badge badge--orange">Хит</span>
            </div>
            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/carrot.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Морковь молодая с бабушкиной грядки, 1кг</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="card-big__price-new">49<span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </article>
      </li>

      <li class="top-products__content-item mix category-beverages">
        <article class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper">
              <span class="badge badge--red">-30%</span>
            </div>
            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/juice.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин
            безалкогольн...</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="price-old price-old--margin">299<span>&#8381</span></span>
              <span class="card-big__price-new">199<span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </article>
      </li>

      <li class="top-products__content-item mix category-beverages">
        <article class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper">
              <span class="badge badge--green">Новинка</span>
            </div>
            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/coffee.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Кофе с коноплей органический Caffé Salomoni 250г</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="card-big__price-new">877<span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </article>
      </li>

      <li class="top-products__content-item mix category-vegetables">
        <article class="card-big">
          <div class="card-big__like-inner">
            <div class="badge-wrapper">
              <span class="badge badge--green">Новинка</span>
            </div>
            <button class="like" type="button">
              <svg class="like__heart">
                <use xlink:href="images/sprite.svg#icon-heart"></use>
              </svg>
              <span class="sr-only">Добавить в избранное</span>
            </button>
          </div>

          <a class="card-big__link" href="#">
            <img class="card-big__img" src="images/product/paprik.jpg" width="298" height="215" alt="Продукт">
          </a>

          <h3 class="card-big__name">Ананас, 1кг</h3>
          <div class="card-big__basket-inner">

            <div class="card-big__price-wrapper">
              <span class="card-big__price-new">349<span>&#8381</span></span>
            </div>

            <div class="stepper card-big__stepper">
              <button class="stepper__btn stepper__btn--minus"></button>
              <label class="stepper__field" for="">
                <input class="stepper__input" type="text" value="1" maxlength="2" step="1" min="0" max="99">
              </label>
              <button class="stepper__btn stepper__btn--plus"></button>
            </div>

            <button class="btn btn--basket" type="button">
              <span class="sr-only">Добавить в корзину</span>
            </button>

          </div>
        </article>
      </li>
    </ul>
  </div>

  <button class="btn btn--transp" href="#">Показать еще</button>
</section>