@import "fonts";
@import "vars";
@import "mixin";
@import "reset";
@import "libs";
@import "global";

.header {
  z-index: 999;

  &__top {
    background-color: $dark-800;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  }

  &__bottom {
    background-color: $green-900;
    padding: 25px 0;
  }
}

.support-link {
  padding: 15px 0;
  transition: opacity 0.3s, box-shadow 0.3s, color 0.2s;
  text-transform: uppercase;
  color: $white;
  display: flex;
  align-items: flex-end;
  outline: transparent;

  &:focus {
    box-shadow: 0 0 0 3px $green-100;
    border-radius: 3px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }

  &:not(:last-child) {
    margin-right: 48px;
  }

  &__icon {
    width: 32px;
    height: 21px;
    fill: $white;
    margin-right: 12px;
  }

  svg {
    fill: $white;
    width: 32px;
    height: 21px;
    margin-right: 10px;
  }
}

.logo {
  outline: transparent;
  transition: box-shadow 0.2s, border-radius 0.2s, opacity 0.2s;

  &:focus {
    box-shadow: inset 0 0 0 3px $green-200;
    border-radius: 3px;
  }

  &:hover {
    opacity: 0.7;
  }

  &__img {
    object-fit: contain;
  }
}

.menu {
  display: flex;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.03em;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    padding: 15px 0;
    outline: transparent;
    transition: opacity 0.3s, box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.catalog-btn {
  position: relative;
  padding: 15px 38px 15px 61px;
  background-color: $white;
  border-radius: 6px;
  color: $green-900;
  font-weight: 600;
  letter-spacing: 0.03em;
  margin-right: 10px;
  transition: background-color 0.3s, border-radius 0.1s;

  &--active {
    background-color: $green-200;
    border-radius: 6px 6px 0 0;

    &::after {
      transform: rotate(180deg);
    }
  }

  &::before {
    content: "";
    background-image: url(../images/elements/nav-icon.svg);
    left: 18px;
    top: 16px;
    position: absolute;
    width: 25px;
    height: 17px;
  }

  &::after {
    content: "";
    background-image: url(../images/icons/icon-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 18px;
    top: 23px;
    position: absolute;
    width: 7px;
    height: 4px;
    transition: transform 0.3s;
  }

  &:hover {
    background-color: $green-200;
  }
}

.dropdown {
  position: absolute;
  left: 524px;
  top: 131px;
  border: 1px solid $silver-600;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;

  &--active {
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
  }

  &__item {
    width: 238px;
    background-color: $white;
    box-shadow: inset 3px 0 0 0 transparent;
    transition: box-shadow 0.2s;

    &:not(:last-child) {
      border-bottom: 1px solid $silver-600;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
  }

  &__link {
    color: $black;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    display: block;
    padding: 15px 45px 15px 24px;
    outline: transparent;
    transition: box-shadow 0.2s, color 0.2s;

    &:focus {
      box-shadow: inset 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
      box-shadow: inset 3px 0 0 0 $green-900;
    }

    &:active {
      color: $silver-600;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
    background-color: $green-900;
    display: flex;
    align-items: center;
    outline: transparent;
    transition: background-color 0.2s, box-shadow 0.2s, opacity 0.2s;

    &:focus {
      box-shadow: inset 0 0 0 3px #eff6e7;
      border-radius: 3px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active::before {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: relative;
      left: 50%;
      transform: translate(-50%);
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: opacity 0.2s;
      width: 32px;
      height: 30px;
    }

    &--user-icon::before {
      background-image: url(../images/icons/icon-user.svg);
    }

    &--heart-icon::before {
      background-image: url(../images/icons/icon-heart.svg);
    }

    &--basket-icon::before {
      background-image: url(../images/icons/icon-basket.svg);
    }
  }

  &__num {
    position: absolute;
    left: 3px;
    top: 2px;
    min-width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    color: $red-900;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
  }
}

.form-search {
  position: relative;
  margin-right: 40px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(/images/icons/icon-search.svg);
    width: 20px;
    height: 20px;
    top: 16px;
    left: 12px;
  }
}

.search__field {
  outline: transparent;
  transition: box-shadow 0.2s;
  padding: 15px 15px 15px 51px;
  min-width: 419px;
  border-radius: 6px 0 0 6px;

  &:focus {
    box-shadow: 0 0 0px 4px rgba(255, 255, 255, 0.5);
  }

  &::placeholder {
    color: $dark-800;
    letter-spacing: 0.03em;
  }
}

.search__btn {
  top: 0;
  right: 0;
  background-color: $dark-800;
  color: $white;
  text-transform: uppercase;
  padding: 15px 52px;
  margin-left: -4px;
  border-radius: 0 6px 6px 0;
  font-weight: 600;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;

  &:focus {
    box-shadow: 0 0 0 4px rgba($white, 0.5);
  }

  &:hover {
    background-color: rgba($dark-800, 0.85);
  }

  &:active {
    box-shadow: inset 0 4px 4px $dark-800;
    color: rgba($white, 0.5);
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.25);
  visibility: hidden;
  transition: visibility 0.2s;
  z-index: 1000;
}

.basket-popup {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $white;
  width: 476px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition: visibility 0.2s;
  z-index: 1001;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px 12px 24px;
    color: $black;
    border: 1px solid rgba($silver-600, 0.3);
  }

  &__title-name {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  &__delete {
    font-weight: 300;
    line-height: 1.2;
    transition: color 0.2s;

    &:hover {
      color: $green-900;
    }
  }

  &__content {
    background-color: $silver-100;
    padding: 12px;
    height: 100%;
    overflow-y: auto;
  }

  &__stepper {
    margin-right: 12px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__fullprice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 24px;
    font-size: 24px;
    height: 68px;
  }

  &__result {
    line-height: 1.2;
  }

  &__resultprice {
    line-height: 1;
    color: $dark-500;
    font-weight: 600;
  }

  &__btn-buy {
    text-align: center;
    padding: 22px;
    width: 100%;
    background-color: $green-900;
    color: $white;
    font-size: 18px;
    line-height: 1.3;
  }
}

.card-basket {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid $silver-600;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 12px;
  background-color: $white;

  &__first-half {
    display: flex;
    align-items: center;
  }

  &__second-half {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 153px;
  }

  &__img {
    margin-right: 32px;
    object-fit: contain;
  }

  &__name {
    font-weight: 600;
    color: $dark-900;
    max-width: 170px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
  }

  &__price {
    font-size: 20px;
    line-height: 1;
    color: $dark-500;
    font-weight: 600;
  }

  &__bottom {
    margin-top: auto;
  }
}

.main-slider {
  &__item {
    height: 600px;
    padding: 142px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__wrapper {
    padding: 24px;
    background-color: rgba($white, 0.8);
    border-radius: 4px;
    max-width: 1290px;
    min-height: 315px;
    margin: 0 auto;
  }

  &__title {
    font-family: $ruda;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.3;
    color: $dark-500;
    text-transform: uppercase;
    margin-bottom: 8px;
    @include line-clamp(1);
  }

  &__subtitle {
    display: block;
    color: $red-900;
    margin-bottom: 12px;
    @include line-clamp(1);
  }

  &__text {
    font-size: 16px;
    color: $dark-500;
    margin-bottom: 30px;
    @include line-clamp(3);
  }

  &__btn {
    width: 60px;
    height: 60px;
    background-color: rgba($white, 0.8);
    position: absolute;
    border-radius: 6px;
    z-index: 2;
    outline: transparent;
    transition: background-color 0.2s, box-shadow 0.2s, fill 0.2s;
    fill: $dark-500;

    &:focus {
      box-shadow: 0 0 0 3px rgba($green-1000, 0.5);
    }

    &:hover {
      background: $green-200;
      fill: $green-900;
    }

    &:active {
      fill: $green-900;
    }

    svg {
      width: 35px;
      height: 32px;
      margin-top: 5px;
    }

    &--prev,
    &--next {
      top: 50%;
      transform: translate(0, -50%);
    }

    &--prev {
      left: 50px;

      svg {
        transform: rotate(90deg);
      }
    }

    &--next {
      right: 50px;

      svg {
        transform: rotate(270deg);
      }
    }
  }

  .slick-disabled {
    fill: $silver-600;
  }
}

.support {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: $silver-100;
  padding: 48px 0 29px;

  &__item {
    width: 264px;
    position: relative;
    padding-left: 74px;
    letter-spacing: 0;

    &--scooter-icon::before {
      background-image: url(../images/icons/icon-scooter.svg);
    }

    &--return-icon::before {
      background-image: url(../images/icons/icon-return-box.svg);
    }

    &--time-icon::before {
      background-image: url(../images/icons/icon-time.svg);
    }

    &:not(:last-child) {
      margin-right: 65px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $dark-900;
    margin-bottom: 6px;
    display: block;
    @include line-clamp(2);
  }

  &__text {
    color: $dark-500;
    @include line-clamp(4);
  }
}

.top-products {
  padding: 72px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px 18px -15px;
  }

  &__content-item {
    margin: 0 15px 30px 15px;
    max-width: 300px;
  }

  &__stepper {
    margin-left: 70px;
    align-self: center;
  }
}

.card-big {
  border-radius: 6px;
  border: 1px solid rgba($black, 0.2);
  display: flex;
  flex-direction: column;
  transition: border 0.2s;
  min-height: 409px;
  max-width: 300px;

  &:hover {
    border: 1px solid $green-900;
  }

  &__like-inner {
    padding: 12px 6px 0 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__link-wrapper {
    display: block;
  }

  &__img {
    object-fit: contain;
  }

  &__link {
    margin-bottom: 10px;
    display: inherit;
    position: relative;

    &::after,
    &:before {
      content: "";
      transition: background-color 0.3s;
      position: absolute;
    }

    &:hover::after {
      content: "";
      background-color: rgba($black, 0.1);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:hover::before {
      content: "";
      background-image: url(/images/elements/search-green.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      background-color: $white;
      border-radius: 50%;
      z-index: 2;
    }
  }

  &__name {
    padding: 0 18px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    @include line-clamp(3);
  }

  &__basket-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 18px 18px 18px;
    margin-top: auto;
  }

  &__stepper {
    align-self: center;
  }

  &__price-wrapper {
    font-size: 14px;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.03em;
    margin-right: 55px;
  }

  &__price-new {
    color: $dark-500;
    margin-right: 12px;
    display: block;
  }
}

.price-old {
  color: $silver-600;
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    color: $silver-600;
    width: 100%;
    height: 0;
    border-bottom: 2px solid $silver-600;
    transform: rotate(-10deg);
  }
}

.badge-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.like {
  width: 44px;
  height: 44px;

  &:focus {
    box-shadow: 0 0 0 3px #e0edcf;
    border-radius: 3px;
  }

  &__heart {
    width: 32px;
    height: 28px;
    line-height: 44px;
    display: inherit;
    margin: 0 auto;
    fill: $silver-600;
    transition: box-shadow 0.2s, fill 0.2s, opacity 0.2s;

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      fill: $orange-900;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.filter-mix {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $dark-500;
    font-size: 15px;
    line-height: 1.4;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: color 0.2s, box-shadow 0.2s;

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      color: $green-900;
    }
  }
}

.mixitup-control-active {
  border-bottom: 3px solid #e0edcf;
}

.banners {
  padding-bottom: 72px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    max-width: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $dark-500;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 76px 32px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--long {
      max-width: 630px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 380px;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 18px;
    letter-spacing: 0.1em;
  }

  &__title {
    font-family: $ruda;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 12px;
    @include line-clamp(2);
  }

  &__link {
    display: inline;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 6px;
    border-bottom: 2px solid $dark-500;
    width: fit-content;
  }
}

.link-white {
  border-bottom: 2px solid $white;
}

.stocks {
  padding: 72px 0;
  background-color: $silver-50;

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 18px -15px;
  }

  &__item {
    width: calc((100% / 4) - 30px);
    margin: 0 15px 30px 15px;
  }

  &__button {
    font-size: 18px;
    line-height: 1.3;
    padding: 12px 24px;
    display: block;
    margin: 0 auto;
  }
}

.card-small {
  min-height: 124px;
  max-width: 300px;
  padding: 12px;
  border: 1px solid $silver-600;
  border-radius: 6px;
  background-color: $white;
  transition: border 0.2s;

  &:hover {
    border: 1px solid $green-900;
  }

  &__inner {
    display: flex;
  }

  &__img-wrapper {
    margin-right: 12px;
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
  }

  &__name {
    height: 58px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.4;
    @include line-clamp(3);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 170px;
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img {
    object-fit: contain;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 176px;
  }

  &__price-wrapper {
    display: flex;
    align-items: flex-end;
    margin-right: 18px;
  }

  &__price-new {
    color: $dark-500;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    margin-right: 12px;
  }
}

.star-wrapper {
  display: flex;
  align-items: flex-end;
}

.rating-num {
  color: $dark-500;
  line-height: 1;
  font-weight: 700;
}

.currency {
  font-size: 14px;
}

.brands {
  padding: 72px 0 51px;

  &__img {
    opacity: 0.5;
    transition: opacity 0.2s;
    margin: 0 auto;
    object-fit: contain;

    &:hover {
      opacity: 1;
    }
  }

  .slick-track {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.news {
  padding: 22px 0 72px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    text-align: left;
    display: inline-block;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__link {
    color: $green-900;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background-color: rgba($black, 0.2);
      bottom: -2px;
      left: 0;
      transition: opacity 0.2s;
    }

    &:hover::after {
      opacity: 0.8;
    }
  }
}

.card-news {
  position: relative;
  max-width: 410px;
  min-height: 348px;
  box-shadow: 0 3px 3px rgba($black, 0.25);
  border-radius: 6px;

  &__link {
    display: block;
    transition: color 0.2s;
    color: $dark-900;
    height: 100%;

    &:hover {
      color: $green-900;
    }
  }

  &__img {
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }

  &__title {
    padding: 18px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    @include line-clamp(6);
  }
}

.news-badge {
  position: absolute;
  border-radius: 0 0 4px 4px;
  background-color: $white;
  width: 65px;
  height: 76px;
  left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-900;
  text-transform: uppercase;
  padding-top: 18px;

  &__mounth {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    font-weight: 700;
  }

  &__number {
    font-family: $ruda;
    font-size: 30px;
    font-weight: 600;
  }
}

//FOOTER//

.footer {
  background-color: $dark-500;
  color: $white;

  &__top {
    padding: 30px 0;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    column-count: 3;
    column-gap: 60px;
    margin: -15px 60px 0 0;
  }

  &__top-box {
    margin-top: -15px;
  }

  &__link {
    display: inline-block;
    padding: 13px 5px;
  }

  &__bottom {
    border-top: 2px solid rgb($dark-300, 0.3);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__copy {
    text-transform: uppercase;
  }
}

.link-support {
  display: block;
  padding: 13px 5px;
}

.form-email {
  margin-right: 240px;

  &__title {
    line-height: 1;
    margin-bottom: 18px;
    min-width: 200px;
  }

  &__input {
    padding: 10px;
    border-radius: 6px 0 0 6px;

    &::placeholder {
      color: $dark-450;
      line-height: 1;
    }
  }
}

.social {
  display: flex;

  &__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    outline: transparent;
    display: flex;

    &:active {
      fill: $green-200;
    }

    svg {
      fill: $white;
      margin: auto;
      width: 32px;
      height: 30px;

      &:active {
        fill: $green-200;
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 2px;
  }
}

.pay {
  display: flex;

  &__visa {
    width: 93px;
    height: 29px;
    margin-right: 24px;
  }

  &__mcard {
    width: 49px;
    height: 29px;
  }
}
