.brands {
  padding: 72px 0 51px;

  &__img {
    opacity: 0.5;
    transition: opacity 0.2s;
    margin: 0 auto;
    object-fit: contain;

    &:hover {
      opacity: 1;
    }
  }

  .slick-track {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
