.footer {
  background-color: $dark-500;
  color: $white;

  &__top {
    padding: 30px 0;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include mq("tablet-2", max) {
      flex-direction: column;
    }
  }

  &__list {
    column-count: 3;
    column-gap: 60px;
    margin: -15px 60px 0 0;

    @include mq("desktop-2", max) {
      column-gap: 50px;
      margin-right: 10px;
      max-width: 500px;
      margin: 0 auto;
    }

    @include mq("tablet-2", max) {
      column-count: 2;
      padding: 24px 0;
    }
  }

  // &__item {
  //   column-width: 150px;
  // }

  &__link {
    @include mq("tablet-2", max) {
    }
  }

  &__top-box {
    margin-top: -15px;

    @include mq("tablet-2", max) {
      order: -1;
    }
  }

  &__link {
    display: inline-block;
    padding: 13px 5px;
  }

  &__bottom {
    border-top: 2px solid rgb($dark-300, 0.3);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__copy {
    text-transform: uppercase;
  }
}

.link-support {
  display: block;
  padding: 13px 5px;

  @include mq("tablet-2", max) {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }
}

.form-email {
  margin-right: 150px;

  @include mq("desktop", max) {
    margin-right: 20px;
  }

  @include mq("tablet-2", max) {
    order: 1;
    margin: 0 auto;
  }

  &__title {
    line-height: 1;
    margin-bottom: 18px;
    min-width: 200px;
  }

  &__input {
    padding: 10px;
    border-radius: 6px 0 0 6px;
    outline: transparent;
    transition: box-shadow 0.2s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &::placeholder {
      color: $dark-450;
    }
  }

  &__btn {
    margin-left: -4px;
  }
}

.social {
  display: flex;

  @include mq("desktop", max) {
    margin-left: -10px;
  }

  @include mq("tablet-2", max) {
    justify-content: center;
  }

  &__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    outline: transparent;
    display: flex;

    &:active {
      fill: $green-200;
    }

    svg {
      fill: $white;
      margin: auto;
      width: 32px;
      height: 30px;

      &:active {
        fill: $green-200;
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 2px;
  }
}

.pay {
  display: flex;

  &__visa {
    width: 93px;
    height: 29px;
    margin-right: 24px;
  }

  &__mcard {
    width: 49px;
    height: 29px;
  }
}
