.top-products {
  padding: 72px 0;

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px 18px -15px;
  }

  &__content-item {
    margin: 0 15px 30px 15px;
    max-width: 300px;
  }

  &__stepper {
    margin-left: 70px;
    align-self: center;
  }
}

.card-big {
  border-radius: 6px;
  border: 1px solid rgba($black, 0.2);
  display: flex;
  flex-direction: column;
  transition: border 0.2s;
  min-height: 409px;
  max-width: 300px;

  &:hover {
    border: 1px solid $green-900;
  }

  &__like-inner {
    padding: 12px 6px 0 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__link-wrapper {
    display: block;
  }

  &__img {
    object-fit: contain;
  }

  &__link {
    margin-bottom: 10px;
    display: inherit;
    position: relative;

    &::after,
    &:before {
      content: "";
      transition: background-color 0.3s;
      position: absolute;
    }

    &:hover::after {
      content: "";
      background-color: rgba($black, 0.1);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:hover::before {
      content: "";
      background-image: url(/images/elements/search-green.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      background-color: $white;
      border-radius: 50%;
      z-index: 2;
    }
  }

  &__name {
    padding: 0 18px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    @include line-clamp(3);
  }

  &__basket-inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 18px 18px 18px;
    margin-top: auto;
  }

  &__stepper {
    align-self: center;
  }

  &__price-wrapper {
    font-size: 14px;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.03em;
    margin-right: 55px;
  }

  &__price-new {
    color: $dark-500;
    margin-right: 12px;
    display: block;
  }
}

.price-old {
  color: $silver-600;
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    color: $silver-600;
    width: 100%;
    height: 0;
    border-bottom: 2px solid $silver-600;
    transform: rotate(-10deg);
  }
}

.badge-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.like {
  width: 44px;
  height: 44px;

  &:focus {
    box-shadow: 0 0 0 3px #e0edcf;
    border-radius: 3px;
  }

  &__heart {
    width: 32px;
    height: 28px;
    line-height: 44px;
    display: inherit;
    margin: 0 auto;
    fill: $silver-600;
    transition: box-shadow 0.2s, fill 0.2s, opacity 0.2s;

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      fill: $orange-900;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.filter-mix {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    font-weight: 700;
    letter-spacing: 0.03em;
    color: $dark-500;
    font-size: 15px;
    line-height: 1.4;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: color 0.2s, box-shadow 0.2s;

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      color: $green-900;
    }
  }
}

.mixitup-control-active {
  border-bottom: 3px solid #e0edcf;
}
